.button {
    border-radius: 6px;
    font-size: 14px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.button_size-s {
    width: 14px;
    height: 14px;
}

.button_size-m {
    width: 32px;
    height: 32px;
}

.filled_button_light {
    border: none;
    color: var(--color-accent-first);
    background-color: #FFF;
}

.filled_button_dark {
    border: none;
    color: #FFF;
    background-color: var(--color-accent-first);
}

.filled_button {
    border: none;
    color: var(--color-accent-first);
    background-color: #FFF;
}

.outline_button {
    border: 1px solid #FFF;
    box-sizing: border-box;
    color: #FFF;
    background: none;
}

.button_playstore {
    background: url("../assets/icons/logo_playstore.svg") no-repeat center center;
    border: none;
}

.button_appstore {
    background: url("../assets/icons/logo_appstore.svg") no-repeat center center;
    border: none;
}

.button_windows {
    background: url("../assets/icons/logo_windows.svg") no-repeat center center;
    border: none;
}

.button_facebook {
    background: url("../assets/icons/logo_facebook.svg") no-repeat center center;
    border: none;
}

.button_linkedin {
    background: url("../assets/icons/logo_linkedin.svg") no-repeat center center;
    border: none;
}

.button_twitter {
    background: url("../assets/icons/logo_twitter.svg") no-repeat center center;
    border: none;
}