header { 
    position: relative;

    background-image: url("../assets/images/header_background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit; 
    height: inherit;

    background: linear-gradient(90deg, var(--color-accent-first), var(--color-accent-second));
    opacity: 0.8;
}

.header__wrapper {
    position: relative;
    z-index: 1;
}

.nav__text_style {
    text-transform: uppercase;
    color: var(--color-typo-primary-light);
    font-weight: 400;
    text-decoration: none;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center;
    justify-items: center;
    padding-top: 20px;
}

.nav__logo::before {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin-right: var(--space-s);

    content: "";
    background: url("../assets/icons/dashicons_cloud.svg") no-repeat center center;
}

.nav__logo {
   font-weight: 900;
   font-size: var(--font-size-m);
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.language_select {
    background: none;
    border: none;
}

.form_select_loc{
    display: inline-block;
}

.login_button {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
}

.header__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;

    font-size: var(--font-size-xxl);
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-typo-primary-light);
}

.header__description {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 520px;
    
    color: var(--color-typo-primary-light);
    font-weight: 600;
    font-size: var(--font-size-l);
    line-height: 150%;
    text-align: center;
}

.sign_up_button {
    margin-bottom: 190px;
    height: 50px;
    width: 160px;
}